*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #2c3e50;
text-align: center;
}
nav{
    padding: 15px 0;
    background: rgb(10, 173, 146);
    margin-bottom: 20px;
  }
  nav a{
   text-decoration: none;
    color: white;
      margin: 15px;
      font-size: 20px;
      font-weight: bold;
  }
  /* styling of notes view  */
  table{
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    margin-top: 25px;
    color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
   vertical-align: middle;
   text-align: center;
}
td{
width: 20px;
 padding: 10px;
 background: whitesmoke;
 border-bottom: 1px solid gray;

}
.btn{
    background: #2c3e50;
    border: none;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
}
#update{
    background: #2c3e50;

}
#delete{
    background: rgb(218, 20, 20);
}
.form{
    background: whitesmoke;
    width: 28%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
 }
 .input{
    margin: 10px;
    padding: 10px 120px 10px 10px;
    border-radius: 6px;
    border: 1px solid gray;
    font-size: 1rem;
    display: block;
}
.more{
  border: none;
  color: rgb(10, 173, 146);
  cursor: pointer;
}